<div class="bookmark-button-wrapper">
  <% if user_signed_in? %>
    <%= react_component('BookmarkButton',
                        { bookmarked: current_user.bookmarked?(response),
                          bookmarkEndpoint: api_response_bookmarks_path(response),
                          unbookmarkEndpoint: api_response_bookmarks_path(response),
                          bookmarkableType: 'Response',
                          bookmarkableId: response.id }) %>
  <% else %>
    <%= t '.bookmark_html', :button_to => (button_to (t '.key_3'), method: :get, class: 'bookmark-button', data: { behavior: 'trigger-overlay' } do) %>
    <% end %>
  <% end %>
</div>
